<form class="rc-form js-form" action="?module=franchisee&action=save">
    {if isset($contact.id)}<input name="id" type="hidden" value="{$contact.id}">{/if}
    <div class="rc-fields">
        {include $app_path|cat:'/templates/fields.html' current_row=$contact row_name='[contact]' fields=$contact_fields}
        {include $app_path|cat:'/templates/fields.html' current_row=$franchisee row_name='[franchisee]' fields=$franchisee_fields}
        <div class="rc-field buttons">
            <input type="submit" value="Сохранить" class="rc-background">
            <span class="js-form-message"></span>
            <i class="icon16 loading" style="margin-left: 16px; display: none;"></i>
        </div>
    </div>
</form>