<form class="rc-form js-form" action="?module=order&action=save">
    {if isset($order.id)}<input name="id" type="hidden" value="{$order.id|escape}">{/if}
    <div class="rc-fields">
        {include $app_path|cat:'/templates/fields.html' current_row=$order row_name=''}
        <div class="rc-field buttons">
            <input type="submit" value="Сохранить" class="rc-background">
            <span class="js-form-message"></span>
            <i class="icon16 loading" style="margin-left: 16px; display: none;"></i>
        </div>
    </div>
</form>