<form class="rc-form js-form" action="?module=product&action=skuIngredientSave">
    <input name="data[product_id]" type="hidden" {if isset($product.product.id)}value="{$product.product.id}"{/if}>
    <input name="data[sku_id]" type="hidden" {if isset($sku.id)}value="{$sku.id}"{/if}>
    <div class="js-content rc-overflow" data-type="product" data-id="{$product.product.id|escape}">
        {include $app_path|cat:'/templates/includes/ProductIngredients.html' rc_object_type='sku'}
    </div>
    <div class="rc-p10">
        <div class="rc-float-right rc-button rc-background-hover rc-pointer b-close">Отмена</div>
        <input type="submit" value="Сохранить" class="rc-p10 rc-pointer rc-background">
        <span class="js-form-message"></span>
        <i class="icon16 loading" style="margin-left: 16px; display: none;"></i>
    </div>
</form>