<div class="rc-content-block rc-content-block rc-mb20 rc-tb10-dp20 rc-background-white rc-flex rc-flex-center rc-flex-justify-between">
    <div class="rc-fs24 rc-color-dark">
        {if isset($shop.motivation.name)}{$shop.motivation.name|escape}{else}Новая мотивация{/if}
    </div>
    <a href="?module=shop&action=edit&id={$shop.id}#motivation" class="rc-float-right">К списку мотиваций</a>
</div>
{if isset ($shop.motivation.id)}
    <div class="js-tab-block rc-content-block rc-content-block rc-mb20 rc-background-white rc-flex rc-flex-center rc-flex-justify-between">
        <div class="rc-p5">
            <ul class="rc-flex">
                <li class="js-tab rc-tab rc-pointer" data-tab="motivationMain">Основное</li>
                <li class="js-tab rc-tab rc-pointer" data-tab="motivationCondition">Условия действия</li>
                <li class="js-tab rc-tab rc-pointer" data-tab="motivationTime">Время действия</li>
            </ul>
        </div>
    </div>
    <div class="js-content rc-content-block rc-mb20 rc-tb10-dp20 rc-background-white">
        <div class="js-tab-content" data-tab="motivationMain"></div>
        <div class="js-tab-content" data-tab="motivationCondition"></div>
        <div class="js-tab-content" data-tab="motivationTime"></div>
    </div>
{else}
    <div class="js-content rc-content-block rc-mb20 rc-p20 rc-background-white">
        {include $app_path|cat:"/templates/shop/ShopTabMotivationMain.html"}
    </div>
{/if}