<tr>
    <td>
        <input type="checkbox"  id="days_{$key|escape}" name="data[weekdays][{$key|escape}][status]" value="1"{if isset($motivation.weekdays[$key]) && $motivation.weekdays[$key]['status'] != 0} checked{/if}>
        <label for="days_{$key|escape}">
            {include $app_path|cat:'/templates/check.html'}
        </label>
    </td>
    <td>
        {$value|escape}
    </td>
    <td>
        <input type="text" id="weekdays_start_{$key|escape}" class="js-timepicker" data-format="HH:mm" name="data[weekdays][{$key|escape}][start_time]"
               value="{if isset($motivation.weekdays[$key].start_time)}{substr($motivation.weekdays[$key].start_time, 0, -3)}{else}00:00{/if}">
    </td>
    <td>
        <input type="text" id="weekdays_end_{$key|escape}" class="js-timepicker" data-format="HH:mm" name="data[weekdays][{$key|escape}][end_time]"
               value="{if isset($motivation.weekdays[$key].end_time)}{substr($motivation.weekdays[$key].end_time, 0, -3)}{else}23:45{/if}">
    </td>
</tr>