<tr class="js-dependent" data-id="{if isset($date.month)}{$date.month|escape}_{$date.day|escape}{/if}">
    <td hidden>
        <input type="hidden" name="data[offer][dates][{$key}][offer_id]" value="{$offer.info.id}">
    </td>
    <td>
        <input type="text" name="data[offer][dates][{$key}][date]" class="js-datepicker" autocomplete="off" data-format="dd.mm"
               {if isset($date.day)}value="{$date.day|string_format:"%02d"}.{$date.month|string_format:"%02d"}"{/if}>
    </td>
    <td>
        <input type="text" id="dates_start_{$key}" class="js-timepicker" data-format="HH:mm" name="data[offer][dates][{$key}][start_time]" value="{$date.start_time}" autocomplete="off">
    </td>
    <td>
        <input type="text" id="dates_end_{$key}" class="js-timepicker" data-format="HH:mm" name="data[offer][dates][{$key}][end_time]" value="{$date.end_time}" autocomplete="off">
    </td>
    <td>
        <div class="js-delete-dependent rc-float-right rc-pointer rc-fill-dark rc-icon20" data-type="date">
            {include $app_path|cat:'/img/svg/trash.svg'}
        </div>
    </td>
</tr>