<div class="rc-mb10 rc-background-white rc-flex rc-flex-center rc-flex-justify-between">
    <div class="rc-fs24 rc-color-dark">
        Выбор точек, для которых будет работать мотивация "{$motivation.name|escape}"
    </div>
</div>
<div class="rc-data-tables rc-pb20">
    <table class="js-data-table display responsive nowrap" data-action="?module=motivation&action=getShopList&motivation_id={$motivation.id|escape}">
        <thead class="rc-background rc-bold rc-left">
        <tr>
            <th>Точка</th>
            <th>Вкл</th>
        </tr>
        </thead>
        <tbody class="js-parent" data-type="shop"></tbody>
    </table>
</div>