<div class="rc-content-block rc-content-block rc-mb20 rc-tb10-dp20 rc-background-white rc-flex rc-flex-center rc-flex-justify-between">
    <div class="rc-fs24 rc-color-dark">
        {if isset($stock.name)}
            Склад точки "{$stock.name|escape}"
        {else}
            Ошибка определения склада
        {/if}
    </div>
    <a href="?module=stock" class="rc-float-right">К списку складов</a>
</div>
{if isset ($stock.id)}
    <div class="js-tab-block rc-content-block rc-content-block rc-mb20 rc-background-white rc-flex rc-flex-center rc-flex-justify-between">
        <div class="rc-p5">
            <ul class="rc-flex">
                <li class="js-tab rc-tab rc-pointer" data-tab="main">Основное</li>
                <li class="js-tab rc-tab rc-pointer" data-tab="supply">Поставки</li>
            </ul>
        </div>
    </div>
    <div class="js-content rc-content-block rc-mb20 rc-tb10-dp20 rc-background-white" data-type="stock" data-id="{$stock.id|escape}">
        <div class="js-tab-content" data-tab="main"></div>
        <div class="js-tab-content" data-tab="supply"></div>
    </div>
{/if}