<div class="rc-data-tables rc-pb20">
    <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer"><div class="dataTables_length" id="DataTables_Table_0_length"><label>Показывать <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class=""><option value="20">20</option><option value="50">50</option></select> записей</label></div><div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Поиск: <input type="search" class="" placeholder="" aria-controls="DataTables_Table_0"></label></div><div id="DataTables_Table_0_processing" class="dataTables_processing" style="display: none;">Обработка...</div><table class="js-data-table display responsive nowrap dataTable no-footer dtr-inline" data-action="?module=franchisee&amp;action=getShopList&amp;franchisee_id=233440" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info" style="width: 866px;">
            <thead class="rc-background rc-bold rc-left">
            <tr role="row"><th class="sorting sorting_desc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 364px;" aria-sort="descending" aria-label="Точка: activate to sort column ascending">Точка</th><th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" style="width: 430px;" aria-label="Находится во франчайзи: activate to sort column ascending">Находится во франчайзи</th></tr>
            </thead>
            <tbody class="js-parent" data-type="shop"><tr class="odd"><td class="sorting_1 dtr-control"><a class="rc-color-black rc-underline rc-color-hover" href="?module=shop&amp;action=edit&amp;id=148">
                        Обычная кофейня
                    </a></td><td><div class="js-row" data-id="148">
                        <input type="checkbox" class="js-checkbox" value="1" id="status_148">
                        <label for="status_148"><i class="rc-check-on rc-checkbox rc-fill rc-float-left"><!--?xml version="1.0" encoding="iso-8859-1"?-->
                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
    <g>
        <path d="M372.364,116.364H139.636C62.641,116.364,0,179.005,0,256s62.641,139.636,139.636,139.636h232.727
			C449.358,395.636,512,332.995,512,256S449.358,116.364,372.364,116.364z M372.364,349.091c-51.33,0-93.091-41.761-93.091-93.091
			s41.761-93.091,93.091-93.091S465.455,204.67,465.455,256S423.694,349.091,372.364,349.091z"></path>
    </g>
</g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
</svg>
                            </i>
                            <i class="rc-check-off rc-checkbox rc-fill rc-float-left"><!--?xml version="1.0" encoding="iso-8859-1"?-->
                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
    <g>
        <path d="M372.364,116.364H139.636C62.641,116.364,0,179.005,0,256s62.641,139.636,139.636,139.636h232.727
			C449.359,395.636,512,332.995,512,256S449.359,116.364,372.364,116.364z M268.381,349.091H139.636
			c-51.33,0-93.091-41.761-93.091-93.091s41.761-93.091,93.091-93.091h128.745c-22.157,24.723-35.654,57.358-35.654,93.091
			S246.224,324.368,268.381,349.091z M372.364,349.091c-51.33,0-93.091-41.761-93.091-93.091s41.761-93.091,93.091-93.091
			S465.455,204.67,465.455,256S423.694,349.091,372.364,349.091z"></path>
    </g>
</g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
</svg>
                            </i></label>
                    </div></td></tr><tr class="even"><td class="sorting_1 dtr-control"><a class="rc-color-black rc-underline rc-color-hover" href="?module=shop&amp;action=edit&amp;id=147">
                        Императорская кофейня
                    </a></td><td><div class="js-row" data-id="147">
                        <input type="checkbox" class="js-checkbox" value="1" id="status_147" checked="">
                        <label for="status_147"><i class="rc-check-on rc-checkbox rc-fill rc-float-left"><!--?xml version="1.0" encoding="iso-8859-1"?-->
                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
    <g>
        <path d="M372.364,116.364H139.636C62.641,116.364,0,179.005,0,256s62.641,139.636,139.636,139.636h232.727
			C449.358,395.636,512,332.995,512,256S449.358,116.364,372.364,116.364z M372.364,349.091c-51.33,0-93.091-41.761-93.091-93.091
			s41.761-93.091,93.091-93.091S465.455,204.67,465.455,256S423.694,349.091,372.364,349.091z"></path>
    </g>
</g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
</svg>
                            </i>
                            <i class="rc-check-off rc-checkbox rc-fill rc-float-left"><!--?xml version="1.0" encoding="iso-8859-1"?-->
                                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
<g>
    <g>
        <path d="M372.364,116.364H139.636C62.641,116.364,0,179.005,0,256s62.641,139.636,139.636,139.636h232.727
			C449.359,395.636,512,332.995,512,256S449.359,116.364,372.364,116.364z M268.381,349.091H139.636
			c-51.33,0-93.091-41.761-93.091-93.091s41.761-93.091,93.091-93.091h128.745c-22.157,24.723-35.654,57.358-35.654,93.091
			S246.224,324.368,268.381,349.091z M372.364,349.091c-51.33,0-93.091-41.761-93.091-93.091s41.761-93.091,93.091-93.091
			S465.455,204.67,465.455,256S423.694,349.091,372.364,349.091z"></path>
    </g>
</g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
                                    <g>
                                    </g>
</svg>
                            </i></label>
                    </div></td></tr></tbody>
        </table><div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Отображаются записи с 1 до 2 из 2</div><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"><a class="paginate_button previous disabled" aria-controls="DataTables_Table_0" data-dt-idx="0" tabindex="-1" id="DataTables_Table_0_previous">&lt;&lt;</a><span><a class="paginate_button current" aria-controls="DataTables_Table_0" data-dt-idx="1" tabindex="0">1</a></span><a class="paginate_button next disabled" aria-controls="DataTables_Table_0" data-dt-idx="2" tabindex="-1" id="DataTables_Table_0_next">&gt;&gt;</a></div></div>
</div>