<div class="rc-data-tables">
    <table class="js-data-table">
        <thead>
        <tr>
            <th>Ингредиент</th>
            <th>Кол-во</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><a class="rc-color-black rc-underline rc-color-hover">Кофе</a></td>
            <td><input type="number" step="0.0001" value="500" style="width: 200px"> гр.</td>
        </tr>
        <tr>
            <td><a class="rc-color-black rc-underline rc-color-hover">Стаканчик</a></td>
            <td><input type="number" step="1" value="20" style="width: 200px"> шт.</td>
        </tr>
        </tbody>
    </table>
</div>