<div class="rc-content-block rc-mb20 rc-p20">
    <div class="rc-fs24 rc-dark-color">Добро пожаловать в систему RESOLUTE</div>
</div>
<div class="rc-flex">
    <div class="rc-half-column">
        <div class="rc-content-block rc-mb20 rc-p20">
            <div class="rc-fs18 rc-dark-color rc-bb-main rc-pb10 rc-mb20">Данные за сегодня</div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Прибыль:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">3 265</span> &#8381;</div>
            </div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Оборот:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">17 744</span> &#8381;</div>
            </div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Средний чек:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">164</span> &#8381;</div>
            </div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Заказов:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">108</span> &#8381;</div>
            </div>
        </div>
        <div class="rc-content-block rc-mb20 rc-p20">
            <div class="rc-fs18 rc-dark-color rc-bb-main rc-pb10 rc-mb20">Данные за неделю</div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Прибыль:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">45 710</span> &#8381;</div>
            </div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Оборот:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">230 611</span> &#8381;</div>
            </div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Средний чек:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">172</span> &#8381;</div>
            </div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Заказов:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">1 341</span> &#8381;</div>
            </div>
        </div>
    </div>
    <div class="rc-half-column">
        <div class="rc-content-block rc-mb20 rc-p20">
            <div class="rc-fs18 rc-dark-color rc-bb-main rc-pb10 rc-mb20">Данные за месяц</div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Прибыль:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">193 265</span> &#8381;</div>
            </div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Оборот:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">988 744</span> &#8381;</div>
            </div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Средний чек:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">167</span> &#8381;</div>
            </div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Заказов:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">5 920</span> &#8381;</div>
            </div>
        </div>
        <div class="rc-content-block rc-mb20 rc-p20">
            <div class="rc-fs18 rc-dark-color rc-bb-main rc-pb10 rc-mb20">Данные за год</div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Прибыль:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">2 125 735</span> &#8381;</div>
            </div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Оборот:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">11 453 876</span> &#8381;</div>
            </div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Средний чек:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">159</span> &#8381;</div>
            </div>
            <div class="rc-field">
                <div class="rc-name rc-fs16">Заказов:</div>
                <div class="rc-value rc-fs16"><span class="rc-bold rc-color">72 036</span> &#8381;</div>
            </div>
        </div>
    </div>
</div>
<div class="rc-content-block rc-mb20 rc-p20">
    <div class="rc-fs18 rc-dark-color rc-bb-main rc-pb10 rc-mb20">Данные за всё время</div>
    <div class="rc-field">
        <div class="rc-name rc-fs16">Прибыль:</div>
        <div class="rc-value rc-fs16"><span class="rc-bold rc-color">3 212 545</span> &#8381;</div>
    </div>
    <div class="rc-field">
        <div class="rc-name rc-fs16">Оборот:</div>
        <div class="rc-value rc-fs16"><span class="rc-bold rc-color">17 744 342</span> &#8381;</div>
    </div>
    <div class="rc-field">
        <div class="rc-name rc-fs16">Средний чек:</div>
        <div class="rc-value rc-fs16"><span class="rc-bold rc-color">154</span> &#8381;</div>
    </div>
    <div class="rc-field">
        <div class="rc-name rc-fs16">Заказов:</div>
        <div class="rc-value rc-fs16"><span class="rc-bold rc-color">115 223</span> &#8381;</div>
    </div>
</div>