<div class="rc-content-block rc-content-block rc-mb20 rc-tb10-dp20 rc-background-white rc-flex rc-flex-center rc-flex-justify-between">
    <div class="rc-fs24 rc-color-dark">
        {if isset($customer.name)}
            Клиент "{$customer.name|escape}"
        {else}
            Новый клиент
        {/if}
    </div>
    <a href="?module=customer" class="rc-float-right">К списку клиентов</a>
</div>
{if isset ($customer.id)}
    <div class="js-tab-block rc-content-block rc-content-block rc-mb20 rc-background-white rc-flex rc-flex-center rc-flex-justify-between">
        <div class="rc-p5">
            <ul class="rc-flex">
                <li class="js-tab rc-tab rc-pointer" data-tab="main">Основное</li>
            </ul>
        </div>
    </div>
    <div class="js-content rc-content-block rc-mb20 rc-tb10-dp20 rc-background-white" data-type="customer" data-id="{$customer.id|escape}">
        <div class="js-tab-content" data-tab="main"></div>
    </div>
{else}
    <div class="js-content rc-content-block rc-mb20 rc-p20 rc-background-white">
        {include $app_path|cat:"/templates/actions/customer/CustomerTabMain.html"}
    </div>
{/if}
