<div class="rc-content-block rc-content-block rc-mb20 rc-tb10-dp20 rc-background-white rc-flex rc-flex-center rc-flex-justify-between">
    <div class="rc-fs24 rc-color-dark">
        {if isset($contact.name)}
            франчайзи "{$contact.name|escape}"
        {else}
            Новый франчайзи
        {/if}
    </div>
    <a href="?module=franchisee" class="rc-float-right">К списку франчайзи</a>
</div>
{if isset ($contact.id)}
    <div class="js-tab-block rc-content-block rc-content-block rc-mb20 rc-background-white rc-flex rc-flex-center rc-flex-justify-between">
        <div class="rc-p5">
            <ul class="rc-flex">
                <li class="js-tab rc-tab rc-pointer" data-tab="main">Основное</li>
                <li class="js-tab rc-tab rc-pointer" data-tab="shops">Точки</li>
            </ul>
        </div>
    </div>
    <div class="js-content rc-content-block rc-mb20 rc-tb10-dp20 rc-background-white" data-type="franchisee" data-id="{$contact.id|escape}">
        <div class="js-tab-content" data-tab="main"></div>
        <div class="js-content js-tab-content" data-tab="shops" data-type="franchisee" data-id="{$contact.id|escape}"></div>
    </div>
{else}
    <div class="js-content rc-content-block rc-mb20 rc-p20 rc-background-white">
        {include $app_path|cat:"/templates/actions/franchisee/FranchiseeTabMain.html"}
    </div>
{/if}
